* {
    box-sizing: border-box;
    margin-top: 10px;
    color:white
    
  }

.Words{
  display:inline-block;
  justify-self: center;
  
}
body{
  background-color: rgba(255, 0, 0, 0.813);
  background-image: url('bg-intro-mobile.png');
  background-position: center;
  background-size: cover;

}
.big-container{
    margin: 40px;

}

.small-container{
  display: inline-block;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  
}
form input, form button{
  box-shadow: 5px 2px lightgrey;
  padding: 13px;
  width: 100%;
  
  border-radius: 10px;
  border-style:solid;
  border-color: initial;
}
#btn{
  background-color: purple;
}
#btn2{
  background-color: green;
}
@media only screen and (min-width: 768px){
  .big-container{
    display: flex;
    align-items: center;
    background-image: url('bg-intro-desktop.png');
    justify-content: space-evenly;
  }
  .Words{
    width: 50%;
    margin-left: 40px;
  }
  .small-container{
    display: inline-block;
    margin:20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 5px 5px gray;
    
  }
 


}