* {
    box-sizing: border-box;
    margin: 5px;
    color:white;
    
  }

.Words{
  display:inline-block;
  justify-self: center;
  
}
body{
  background-color: rgba(255, 0, 0, 0.813);
  background-image: url('bg-intro-mobile.png');
  background-position: center;
  background-size: cover;

}
.big-container{
    margin: 40px;

}
p{
  align-self: center;
  color:gray
}
a{
  text-decoration: none;
  color: red;
}
form{
  display: inline-block;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  width : 100%;
  box-shadow: 2px 2px grey;
}
input, button{
  padding: 15px;
  width: 100%;
  border-radius: 6px;
  border-style:solid;

}

button{
  box-shadow: 3px 5px grey;
  border: none;
}
#btn{
  
  background-color: rgb(128, 0, 128);
;
}
#btn2{
  background-color: green;
}
#btn:hover{
  background-color: rgb(180, 40, 180);

}
#btn2:hover{
  background-color: rgb(66, 187, 66) ;
}
@media only screen and (min-width: 768px){
  .big-container{
    display: flex;
    align-items: center;
    background-image: url('bg-intro-desktop.png');
    justify-content: space-evenly;
  }
  .Words{
    width: 50%;
    margin-left: 40px;
  }
  .small-container{
    display: inline-block;
    margin:20px;
    border-radius: 10px;
    width: 50%;
    
  }
 


}